.status-bar {
  display: none;
}

.aside-close {
  display: none;
}

@media screen and (max-width: 920px) {
  .status-bar {
    display: block;
    position: fixed;
  }

  .aside-close {
    display: block;
  }

  .aside-hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
  }

  .aside-visible {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transform: translateX(-20%);
    transition: transform 0.3s ease-in-out 0s;
    padding-left: 20%;
  }
}
