.bg-wrapper_newCar {
  /* background-image: url('../../assets/images/make-reservation-bg-img.jpg'); */
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-color: rgba(150, 191, 1, 0.75); */
}

.color-green {
  color: rgba(150, 191, 1, 0.75);
}

.width {
  min-width: 400px;
}

.image-overlay {
  height: 100vh;

  /* background-color: rgba(150, 191, 1, 0.75); */
}

@media screen and (max-width: 920px) {
  .image-overlay {
    height: 75vh;

    /* background-color: rgba(150, 191, 1, 0.75); */
  }

  .width {
    min-width: 100%;
  }
}
