.side-nav-item {
  margin: 1.2em 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.side-nav-item:hover {
  background-color: #96bf01;
  cursor: pointer;
  color: #fff;
  border-radius: 0.25rem;
}

.side-nav-span {
  margin-left: 0.8em;
}
